<div align="center" class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src={{doc.video_src}} frameborder="0" allowfullscreen></iframe>
</div>
{{#if doc.video_description}}
	<div class="table-video-description">{{doc.video_description}}</div>
{{/if}}

