{{yield}}
<td class="text-center">
  {{#if actionUp}}
	  <div class="marg-bot-actions"><button type ="button" class="btn btn-xs btn-success" {{action actionUp model}}><span class='glyphicon glyphicon-ok'></span></button></div>
  {{/if}}
  <div><button type="button" class="btn btn-xs btn-warning" data-dismiss="modal" {{action 'reset' model}}><span class='glyphicon glyphicon-remove'></span></button></div>
</td>
