<div class="row">
	<div class="col-xs-12">
		{{table-simple modelo=model properties=properties actionUp="update" actionDel="delete" actionNew="new"}}
	</div>
	{{!-- <div class="col-xs-12 col-md-4">
		{{outlet}}
	</div> --}}
</div>


{{!-- {{#contact-item fullname=contact.fullName id=contact.id contact=contact}}{{/contact-item}} --}}