<div class="row">
	<div class="col-xs-12">
		{{table-simple modelo=model properties=properties actionDel="delete" actionNew="new" route-edit="contact.detail" filteringIgnoreCase=true pagination=pagination createInline=true editInline=true initOrder=initOrder tableStriped=true tableBordered=true tableCondensed=true}}
	</div>
</div>
