<div class="row">
	<div class="col-xs-8">
		{{link-to fullname 'contact.detail' id}}
	</div>
	<div class="col-xs-4">
		{{button-delete-contact contact=contact class="pull-right mar-left"}}
		{{#link-to 'contact.detail' id}}
			<button type ="button" class="btn  btn-success pull-right">Edit</button>
		{{/link-to}}
	</div>
</div>


