{{#table-simple/table-detail model=model actionDel="delete" actionUp="update" title="Edición"}}
	<div>{{input type="text" value=model.firstName placeholder="first name"}}</div>
	<div>{{input type="text" value=model.lastName placeholder="last name"}}</div>
	<div>{{input type="number" value=model.age placeholder="age"}}</div>
{{/table-simple/table-detail}}
