.show_row{
  display: table-row !important;
}

.no-float{
  float:none !important;
}

.disabled{
  color: gray;
  cursor: default;
}

.disabled:hover{
  color: gray;
  cursor: default;
}

.v-middle{
	vertical-align: middle;
}

.w-30{
  width: 30%;
}

.w-80{
	width: 80%;
}

.color-new-elem{
	background-color: #FFE7C5 !important;
}

.color-up-elem{
  background-color: #DBEDFF !important;
}

.color-up-elem td{
  vertical-align: middle;
}

.color-th{
  background-color: #C7C7C7;
}

.mleft-low{
  margin-left: 2em;
}

.actions-w{
  width: 20%;
}

table input{
  width: 80%;
}

.tr-filter{
  background-color: #E8E8E8 !important;
}

.tr-filter input{
  border-style: hidden;
}

.phone_prop{
  display: none;
}

.table-summary{
  line-height: 2em;
}

.div_phone_filter{
  display: none;
}
