.show_row{
  display: table-row;
}

.no-float{
  float:none !important;
}

.disabled{
  color: gray;
  cursor: default;
}

.disabled:hover{
  color: gray;
  cursor: default;
}

.v-middle{
	vertical-align: middle;
}

.overf-h{
	overflow: hidden;
}

.w-40{
	width: 40%;
}

.w-80{
	width: 80%;
}

.color-new-elem{
	background-color: #FFE7C5;
}